<a href="https://colab.research.google.com/github/Jason306306/Introduction-to-Computers/blob/main/0524.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
list1=range(9)
list(list1)

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [6]:
list2=range(1,10)
list(list2)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [7]:
list3=range(1,10,2)
list(list3)

[1, 3, 5, 7, 9]

In [8]:
list4=range(10,1,-2)
list(list4)

[10, 8, 6, 4, 2]

In [18]:
x=int(input())
list5=range(1,x+1)
list(list5)

12

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [20]:
x=int(input())
sum=0
for i in range(1,x+1):
  sum+=i
print(sum)

50
1275

In [50]:
x=int(input())
sum=0
for n in range(1,x+1):
  sum=sum+n
  print(sum)

5
1
3
6
10
15